    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
        padding: 20px;
        background: #fff;
    }
    .container {
        max-width: 700px;
        margin: 20px auto;
        padding: 50px 50px 50px 50px;
        border: 3px solid #000000;
        box-shadow: 0 2px 12px rgba(52,129,218,0.08);
        background: #fff;
        line-height: 1.6;
    }

    .main-divider {
        height: 3px;
        width: 700px;
        background-color: black;
        border: none;
        margin-bottom: 20px;
        margin-left: 0;
        margin-top: 20px;
        border-radius: 5px;
    }

    .role-title {
        color: rgb(49, 173, 49);
    }

    .section-title {
        color: rgb(49, 173, 49);
    }

    .school-title {
        color: #3481da;
        margin-bottom: 0px;
    }

    .no-margin-top {
        margin-top: 0px;
    }

    .job-title {
        color: #3481da;
        margin-bottom: 0px;
    }
    